body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    text-align: center;
	background: #00ff00 url(KickScreen1.png) no-repeat fixed center;
	color: yellow;
}

div {
    padding: 20px;
}

h1 {
    font-size:2em;
}

h2 {
    font-size:2em;
}

