body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    text-align: center;
	/* background-image: url("Screen0.png"); /*You will specify your image path here.*/
	/* -moz-background-size: 100% 159%;
	-webkit-background-size: 100% 159%; */
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
	color: red;
}

div {
    padding: 20px;
}

h1 {
    font-size:0px;
}

h2 {
    font-size:0px;
}

